body {
    background-color: #f3f2f3;
    margin: 0;
    padding: 0;
}

.main {
    height: 100px;
    background-color: #128C7E;
    color: white;
    z-index: 9999;
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: center;
    align-items: center;
}

.inbox {
    text-align: center;
}

#messages {
    padding-bottom: 20%;
}

li {
    /*  reciever msg in list*/
    list-style-type: none;
    margin-bottom: 10px;
    background-color: #e3e3e3;
    padding: 5px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    width: 50%;
}

li span, .sent span {
    /* reciever name */
    font-style: italic;
    font-weight: bolder;
    color: #5c0ddb;
    padding-left: 10px;
}

#chat {
    width: 80%;
    margin: auto;
}

#forms {
    text-align: center;
    position: fixed;
    width: 83%;
    bottom: 0px;
    background-color: #f3f2f3;
    height: 50px;
}

input {
    width: 70%;
    height: 30px;
    border-radius: 4px;
    border: 1px solid black;
}

button {
    width: 25%;
    height: 38px;
    border: none;
    border-radius: 4px;
    background-color: #128C7E;
    color: #f3f2f3;
    font-size: large;
}

.sent {
    /* sender */
    margin-left: 50%;
    background-color: #6ad792;
    color: rgb(36, 36, 36);
}